.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 15vh;
}

.no-card-found {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 50px;
  padding-bottom: 45vh;
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 5vh;
  }
}
