.container-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 30vh;
}

.type-button {
  aspect-ratio: 1;
  display: block;
  flex-direction: row;
  width: 200px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(151, 151, 151, 0.5);
  color: #fff;
  font-size: 50px;
  font-family: "Big Shoulders Stencil Display", cursive;
  cursor: pointer;
  transition: 0.25s;
}

.type-button-link {
  text-decoration: none;
  color: #fff;
}

.type-button p {
  text-transform: uppercase;
}

.type-button:hover {
  border: 1px solid #fff;
}

.type-button.active {
  border: 1px solid #fff;
  background-color: #fff;
  color: #0b0d17;
}

@media screen and (max-width: 600px) {
  .type-button {
    width: 100px;
    height: 100px;
    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 22px;
  }
  .container-type {
    padding-top: 10vh;
  }
}
